---
import { getLatestRelease } from '~/utils/releases';
import Layout from '~/layouts/PageLayout.astro';
import { getPermalink } from '~/utils/permalinks';

const latest = await getLatestRelease();
const latest_v = latest.tag_name.replace(/^v/, '');

const asset_bin = latest.assets.find(asset => asset?.name === `forgejo-${latest_v}-linux-amd64`);
const asset_sig = latest.assets.find(asset => asset?.name === `forgejo-${latest_v}-linux-amd64.asc`);

---
<Layout title="Download">
	<main class="container mx-auto max-w-3xl py-8 sm:py-16 lg:py-20">
		<div
			class="
				container mx-auto px-6 sm:px-6 max-w-3xl
				prose prose-steel dark:prose-invert
				prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold
				prose-a:underline-offset-4 prose-a:decoration-steel-200 dark:prose-a:decoration-steel-500
				hover:prose-a:text-primary-600 dark:hover:prose-a:text-primary-400
				prose-img:rounded-md prose-img:shadow-lg
			"
		>
			<h1 class="mb-6 pb-6 border-b border-steel-100 dark:border-steel-700">
				Get Forgejo
			</h1>
			<p>
				You can get the latest binaries or container images for Forgejo via our <a href={getPermalink('releases')}>releases page</a>
				or directly <a href="https://codeberg.org/forgejo/forgejo/releases">from our Codeberg repo</a>.
			</p>
			<h2>Installation from binary</h2>
			<h3>Download</h3>
			<p>
				The following instructions are for installing the latest Forgejo release on a Linux system with the `amd64` architecture.<br />
				For other platforms and architectures, be sure to <a href="https://codeberg.org/forgejo/forgejo/releases">find the appropriate files</a>
				and modify the instructions below accordingly.
			</p>
<pre>
wget -O forgejo-{latest_v} {asset_bin.browser_download_url}
chmod +x forgejo-{latest_v}
</pre>
			<h3>Verify GPG signature</h3>
			<p>
				All Forgejo binaries are signed with
				<a href="https://openpgpkey.forgejo.org/.well-known/openpgpkey/forgejo.org/hu/dj3498u4hyyarh35rkjfnghbjxug6b19">our GPG key</a>
				to verify their authenticity and guard against unwanted modification.<br />
				To validate the signature, download the signature file which ends in .asc for the binary you downloaded and use the GPG command line tool:
			</p>
<pre>
gpg --keyserver keys.openpgp.org --recv EB114F5E6C0DC2BCDD183550A4B61A2DC5923710
wget -O forgejo-{latest_v}.asc {asset_sig.browser_download_url}
gpg --verify forgejo-{latest_v}.asc forgejo-{latest_v}
</pre>

			<h2>Container image</h2>
			<p>
				Forgejo provides <a href="https://codeberg.org/forgejo/-/packages/container/forgejo/versions">container images</a>
				for use with Docker or other containerization tools.
			</p>
			<p>
				Install the latest release on Docker as follows:
			</p>
<pre>
docker pull codeberg.org/forgejo/forgejo:{latest_v}
</pre>

			<h2>Upgrade from Gitea</h2>
			<p>
				Forgejo is a fully-compatible drop-in replacement for Gitea.
			</p>
			<p>
				When migrating from Gitea to the Forgejo release with the same release number (eg from Gitea v1.18 to Forgejo v1.18),
				all that is necessary is to replace the Gitea binary with the Forgejo binary (or change the container image).
			</p>
			<p>
				When upgrading to Forgejo from an older version of Gitea, please follow
				<a href="https://docs.gitea.io/en-us/upgrade-from-gitea/">the upgrade instructions in the Gitea documentation</a>.
			</p>

			<h2>Documentation</h2>
			<p>
				The Forgejo documentation is not yet available.<br />
				In the meantime, we suggest you check the <a href="https://docs.gitea.io/">Gitea documentation</a>
				which is mostly applicable to Forgejo as well.
			</p>
		</div>
	</main>
</Layout>
